.wipe-out {
  opacity: 1;
  animation: wipeOut 0.5s ease-in-out backwards;
}

@keyframes wipeOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.wipe-in {
  opacity: 0;
  animation: wipeIn 0.5s ease-in-out forwards;
}

@keyframes wipeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
